<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    style(type="text/css")
  body
    h1 Hello world
    ul.list
      - for(var i = 0; i < 5; i++)
        li.list__item Item #{i}